---
import '@fontsource-variable/rubik';
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";

const { currentTime, greeting, period } = getCurrentTimeAndGreeting();
function getCurrentTimeAndGreeting() {
  // Crear un objeto de fecha en la zona horaria de Bogotá
  const now = new Date().toLocaleString("en-US", { timeZone: "America/Bogota" });
  const bogotaDate = new Date(now);

  const hours = bogotaDate.getHours();
  const minutes = bogotaDate.getMinutes().toString().padStart(2, '0');
  
  let period;
  let greeting;

  if (hours >= 0 && hours < 12) { // Mañana
    period = ' de la mañana 🧋';
    greeting = '¡Saludos matutinos! Estoy listo para explorar ideas creativas, ¿y tú?';
  } else if (hours >= 12 && hours < 18) { // Tarde
    period = ' de la tarde 🥤';
    greeting = '¡Tarde soleada! ¿Qué proyectos emocionantes tienes en mente para discutir?';
  } else { // Noche
    period = ' de la noche 🌙';
    greeting = '¡Buenas noches! El día ha sido largo, pero todavía tengo energía para hablar de diseño.';
  }

  const formattedHours = hours % 12 || 12;
  const amPm = hours < 12 ? 'a.m.' : 'p.m.';
  const formattedTime = `${formattedHours}:${minutes} ${amPm}`;

  return {
    currentTime: formattedTime,
    greeting,
    period,
  };
}


---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/LogoSebtiago.svg" type="image/svg+xml">
		<meta name="generator" content={Astro.generator} />
		<title>Sebastián Suárez Portafolio</title>
	</head>
	<body class=" bg-bg-sebtiago text-celadon-900 px-9 py-0 md:py-6 md:px-32">
		<nav >
			
			<header class="lg:flex  gap-5  lg:bg-opacity-0 bg-opacity-100 bg-hunter_green-100 lg:rounded-none rounded-3xl p-4">
				<Astronav>
				<div class="flex w-full justify-between self-center flex-row">
					<a class="flex items-center" href="#inicio">
						<img src="LogoSebtiago.svg" alt="Logo Sebtiago" class="h-8 w-8">
						<p class="ml-2">Sebtiago Suárez</p>
					</a>
					<div class="block lg:hidden">
					<MenuIcon class="w-7 h-7 text-gray-800" />
					</div>
				</div>
				<MenuItems class="hidden lg:flex items-center md:bg-opacity-0 bg-opacity-100 bg-hunter_green-100 p-5 rounded-3xl">
					<ul class="flex flex-col lg:flex-row lg:gap-5 items-center">
						<li class="w-max hover:underline font-normal text-base "><a href="#acerca-de-mi">Acerca de mí</a></li>
						<li class="w-max hover:underline font-normal text-base"><a href="#portafolio">Proyectos</a></li>
						<li class="w-max hover:underline font-normal text-base"><a href="#contacto">Contacto</a></li>
					</ul>
				</MenuItems>
				</Astronav>
			</header>
		</nav>
		

		<section id="inicio" class="py-8" >
			<div class="container mx-auto  grid grid-col-1  md:grid-cols-2 gap-x-5">
				<img class=" w-full h-96 object-cover rounded-3xl" src="https://pbs.twimg.com/profile_images/1740409419580555264/flEj_rdS_400x400.jpg" alt="">
				<div class=" flex flex-col gap-5 md:py-0 pt-5">
					<h1 class=" w-full text-center p-3 bg-hunter_green rounded-3xl  md:text-4xl text-3xl font-black">Sebastián Santiago Suárez</h1>
					<div class="w-full h-full flex flex-col items-center justify-center text-center bg-hunter_green-100 rounded-3xl p-8">
						<h2 class="font-black text-[12vw]  lg:text-[7vw] md:text-[5vw] text-center">Designer</h2>
						<ul class="flex md:flex-row flex-col w-11/12 justify-between text-[6vw] md:text-[2vw] lg:text-[3vw] font-semibold ">
							<li>Service</li>
							<li>UX</li>
							<li>Industrial</li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class=" mt-5 p-5 text-base bg-cambridge_blue rounded-3xl text-center text-hunter_green-100 font-medium w-full">
				<p>Explorando la interacción entre la tecnología y las personas</p>

			</div>

		</section>
	
		<section id="acerca-de-mi" class="container mx-auto  grid grid-col-1 md:grid-cols-2 gap-x-5 gap-y-5 py-8 w-full">
			
			
			<div class=" p-7 bg-hunter_green-100 rounded-3xl">
				<h2 class=" font-black text-2xl">Acerca de mí</h2>
				<p class=" font-normal text-base">Soy un diseñador multidisciplinar con más de 3 años de experiencia, donde mi enfoque apasionado busca crear productos e experiencias que despierten asombro. Mi trayectoria incluye proyectos diversos, desde diseño de productos físicos hasta experiencias digitales. Actualmente, como diseñador de servicios, innovo para mejorar procesos internos y ofrecer una experiencia excepcional a los clientes.</p>
			</div>
			<div class="flex flex-col gap-y-5">
				<div class="h-full ">
					<p class="flex items-center justify-center h-full p-7 text-base font-medium italic bg-eerie_black rounded-3xl">La curiosidad es mi brújula en el diseño. Explora mi perspectiva en artículos detallados en mi Medium</p>
				</div>
				<button class="w-full p-7 bg-cambridge_green rounded-3xl flex items-center justify-center hover:shadow-inner hover:bg-hunter_green-100">
					<img class="w-4/5" src="/medium.svg" alt="Medium logo">
				</button>
				

			</div>
		</section>

		<section id="portafolio" class="mx-auto  grid grid-col-1 md:grid-cols-2 gap-x-5 gap-y-5 py-8 w-full h-min">
			<div>
				<a href="https://www.behance.net/gallery/129126529/Dog-Road-UX-UI" target="_blank">
					<div  class="project w-full h-72 flex flex-col justify-end rounded-t-3xl" style="background-image: url('https://mir-s3-cdn-cf.behance.net/projects/808/e1445e129126529.Y3JvcCw4MjUsNjQ2LDU0Nyww.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
					<div class="h-min bg-eerie_black w-full  py-3 px-7 rounded-b-3xl hover:shadow-inner hover:bg-celadon-900 hover:text-eerie_black">
						<h3 class="font-black text-2xl text-white">Proyecto: </h3>
						<p class="mt-2 text-white bg-black bg-opacity-50">PetBistro Box - Diseño UX/UI</p>
					</div>
				</a>
			</div>
			<div>
				<a href="https://www.behance.net/gallery/187557913/PetBistro-Box-Diseno-UXUI" target="_blank">
					<div  class="project w-full h-72 flex flex-col justify-end rounded-t-3xl" style="background-image: url('https://mir-s3-cdn-cf.behance.net/projects/808/33cff6187557913.Y3JvcCw4MDgsNjMyLDYsMA.png'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
					<div class="h-min bg-eerie_black w-full  py-3 px-7 rounded-b-3xl hover:shadow-inner hover:bg-celadon-900 hover:text-eerie_black">
						<h3 class="font-black text-2xl text-white">Proyecto: </h3>
						<p class="mt-2 text-white bg-black bg-opacity-50">PetBistro Box - Diseño UX/UI</p>
					</div>
				</a>
			</div>

			<div class=" p-7 bg-celadon-900 rounded-3xl text-eerie_black h-min">
				<h2 class=" font-black text-2xl mb-1">Experiencia laboral</h2>
				<div class="mb-3">
					<h3 class=" font-medium text-2xl">Service designer - CasaToro</h3>
					<p class=" font-normal text-base">2023- Actualidad</p>
					<ul class="list-disc pl-4">
						<li>Especialización en procesos innovadores para productos digitales.</li>
						<li>Diseño de Minimum Viable Services (M.V.S) para optimizar operaciones.</li>
						<li>Integración de metodología de diseño y filosofía LEAN para impulsar la innovación del servicio</li>
							</ul>
				</div>
				<div class="mb-3">
					<h3 class=" font-medium text-2xl">UX Designer - CasaToro</h3>
					<p class=" font-normal text-base">2021 — 2023</p>
					<ul class="list-disc pl-4">
						<li>Liderazgo en la creación de un nuevo producto digital en el sector automotriz.</li>
						<li>Investigación exhaustiva de UX para abordar los puntos débiles del usuario.</li>
						<li>Desarrollo de wireframes detallados para evaluar soluciones con usuarios y clientes.</li>
					</ul>
				</div>
				<div class="mb-3">
					<h3 class=" font-medium text-2xl">Industrial Designer - Master Taquería</h3>
					<p class=" font-normal text-base">2021</p>
					<ul class="list-disc pl-4">
					<li>Contribución clave a un proyecto de diseño de espacio comercial.</li>
						<li>Diseño de mobiliario innovador y funcional para mejorar la estética y la funcionalidad.</li>
						<li>Colaboración en el diseño general del servicio y la experiencia del usuario.</li>
					</ul>
				</div>
			</div>
		
			<div>
				<div class=" mb-4 p-7 bg-celadon h-min rounded-3xl text-eerie_black">
					<h2 class=" font-black text-2xl mb-1">Historial Académico:</h2>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Diseño Industrial</h3>
						<p class=" font-normal text-base">2015-2020</p>
						<p class=" font-normal text-base">Universidad Nacional de Colombia.</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Especialización en Diseño y Gerencia de Producto para la Exportación</h3>
						<p class=" font-normal text-base">2020-2021</p>
						<p class=" font-normal text-base">Pontificia Universidad Javeriana.</p>
					</div>
					
				</div>
				<div class=" mb-4 p-7 bg-hunter_green-100 h-min rounded-3xl text-cambridge_green">
					<h2 class=" font-black text-2xl mb-1"> Cursos:</h2>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Creando futuros en el territorio digital: Desarrollo de productos y servicios desde UX</h3>
						<p class=" font-normal text-base">Universidad Nacional de Colombia.</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Habilidades de programación con profundización en desarrollo de aplicaciones móviles</h3>
						<p class=" font-normal text-base">Universidad Nacional de Colombia.</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Diseño UI</h3>
						<p class=" font-normal text-base">Coderhouse</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">React Js</h3>
						<p class=" font-normal text-base">Coderhouse</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Curso de Diseño de servicios</h3>
						<p class=" font-normal text-base">Platzi</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Responsive Web Design</h3>
						<p class=" font-normal text-base">FreeCodeCamp</p>
					</div>
					
				</div>
			</div>
			<section id="contacto" class="mt-0 md:mt-[-100px] lg:mt-[-250px] xl:mt-[-300px] flex-col space-y-5">
				<div class="flex-col w-full">
					<div class="my-1 p-7 bg-eerie_black h-min rounded-3xl text-celadon-900" id="hora">
					<h3 class="font-regular text-2xl">¡En este momento, en Bogotá, Colombia, son las:</h3>
					<p class="font-black text-5xl py-4 "> {currentTime}<span class="font-light text-5xl ">{period}</span></p>
					
					<p class="font-regular text-base pt-3">{greeting}</p>
					</div>
				</div>	
				<div class="p-7 bg-celadon-900 flex-col w-full rounded-3xl">
					<h3 class="my-4 text-hunter_green-100 font-black text-2xl">¿Buscando una mente creativa para tu proyecto?</h3>
					<a href="mailto:sebtiagosuarez@gmail.com" class="p-5 bg-cambridge_green rounded-3xl w-full flex items-center justify-center hover:shadow-inner hover:bg-hunter_green-100">
						<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" class="self-center">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" fill="#ecf5ed"/>
						</svg>							
						<p class="ml-2">¡Envíame un mensaje y colaboremos!</p>
					</a>
					
				</div>
				</div>
			</section>

		</section>
		
		<footer class=" p-7">
			<h3 class=" font-black text-2xl flex-col py-8"> Diseño, creatividad y desarrollo en perfecta armonía.</h3>
			<p>Hecho con ❤️ y código por <a href="https://twitter.com/sebtiago" class="hover:underline">@Sebtiago</a> </p>
			<p>Made this website in <a href="https://astro.build/" class="hover:underline">Astro</a> 🚀, deployed on <a href="https://vercel.com/" class="hover:underline"> Vercel</a>.</p>
			<div class="flex md:flex-row flex-col-reverse justify-between py-8 gap-y-6">
				<p>© 2024 Sebastián Suárez - Todos los derechos reservados</p>
				<div class="social-links flex md:flex-row flex-col md:space-x-8  space-x-0 text-center">
					<a href="https://www.linkedin.com/in/sebastianssuarez/" target="_blank" class="hover:underline">LinkedIn</a>
					<a href="https://github.com/Sebtiago" target="_blank" class="hover:underline">GitHub</a>
					<a href="https://www.behance.net/sebtiago" target="_blank" class="hover:underline">Behance</a>
					<a href="https://medium.com/@sebtiagosuarez" target="_blank" class="hover:underline">Medium</a>
					<a href="https://www.instagram.com/sebtiagosf/" target="_blank" class="hover:underline">Instagram</a>
					<a href="https://twitter.com/sebtiago" target="_blank" class="hover:underline">twitter</a>
				</div>
			</div>
		</footer>
		<div class=" md:bg-celadon-100"></div>
	</body>
</html>

<style>
	body{
		font-family: 'Rubik Variable', sans-serif;
		padding: 0;
		margin: 0;
	}
	.hidden {
  display: none;
}

</style>