---
import '@fontsource-variable/rubik';

const { currentTime, greeting, period } = getCurrentTimeAndGreeting();

function getCurrentTimeAndGreeting() {
  const now = new Date();
  const hours = now.getHours();
  const minutes = now.getMinutes().toString().padStart(2, '0');
  
  let period;
  let greeting;

  if (hours >= 0 && hours < 12) { // De 0 a 11:59 AM
    period = 'de la mañana 🧋';
    greeting = 'Buen día. ¿Listo para hablar de diseño?';
  } else if (hours >= 12 && hours < 18) { // De 12 PM a 5:59 PM
    period = 'de la tarde 🥤';
    greeting = 'Buenas tardes. ¿Listo para hablar de diseño?';
  } else { // De 6 PM a 11:59 PM
    period = 'de la noche 🌙';
    greeting = 'Buenas noches. ¿Listo para hablar de diseño?';
  }

  const formattedHours = hours % 12 || 12;
  const formattedTime = `${formattedHours}:${minutes} ${hours < 12 ? 'a.m.' : 'p.m.'}`;

  return {
    currentTime: formattedTime,
    greeting,
    period,
  };
}


---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sebastián Suárez Portafolio</title>
	</head>
	<body class=" bg-bg-sebtiago text-celadon-900 px-9 py-6 md:px-32">
		
		

		<section id="inicio" class="py-8" >
			<div class="container mx-auto  grid grid-col-1  md:grid-cols-2 gap-x-5">
				<img class=" w-full h-96 object-cover rounded-3xl" src="https://lh3.googleusercontent.com/fife/AGXqzDmXLjjZgfL3-MSqA00QBPEC-Cnm1b2STZohMHluyQ4OyWeU-Z3RF02-Ev4tbhzb3vHGbYYtz2S7tY5d8fItacQfkHplSTDbe7S7teMafrFwejZJ5kcu2wk4jD1wQx7qhuSASLN-bDP4rZYrP6LGE_w27Z4wymc5OheqJyGVsz3XkYXANep54j5Vai_KHe5kzZ6iEOnc4G3UPfF34UhWLSlJDjGUbIWBKWRILheC-G3i1Oio6yRqCWvcF_Dqi51d9rDLIcQ_9IizPV3_OMbTtm3ji-td1Gk13TunMglose3OFwlpIs8bPUBQyCu2HrFdJAJr3kbKCjaVYC0PJKDlxDgAMuTqoF_QK_Q1wGt1msjjiG3CViF05M9XGJiqAbpFBTqybetjp7-ZnXWHBuxKHYBid2E24vVWSxXcgPj3y0u-515BORlj3ge0MDobugcBY_JoJURCk7zpoSiycNzx_2_zUkRb9PmUe9Ziu22an-PCDaN1fxUU1EotQZwCJaqIH6V20SmxVztNZNUEfCZGE5d2nCRRgeSlAYl3FDaj55rVIK9TdDZ6R6h4OPIcjxNilVVGmwWscBKDwuC9oPtLNVRYExN51BpbKN5RheCeLB1KYFdZWZyu38TMRnZXI2yD_EmgVBdScpqhZggou6AwNLgY_g9REvLwwAQTPCLTMGDOgfrR-t1Qd_BV2YmDTJJKdvwE-YwyyiTVbU8H5m8W-Nr8TtEPWOraFP7O8yG5WdJezpuo32FTF3fz23NZfDTu7TlrMDrJF2SF0g-vq0eNWxo-10m2DF9onGRlXP7nHoKurfrdRIMh3rltaDc0Zjww0oj45FFOX6LF_CAkMn5S2cyzw2t0BNDacKEZqWpLTKXgWWVEPfFyBOJbFMn1KpeH1_TqINgrCj-906JxtF0Vx6yb8O1eSkkd-jb58BIxlXA61m-RxZ_saaC2x6RYpcrTT4zswb5gM-2-mmd6BxjhHhhfYVUwF-MkoAsmvRfaa3ZgrPn9oDlIrTA=w1909-h928" alt="">
				<div class=" flex flex-col gap-5 md:py-0 pt-5">
					<h1 class=" w-full text-center p-3 bg-hunter_green rounded-3xl  md:text-4xl text-3xl font-black">Sebastián Suárez</h1>
					<div class="w-full h-full flex flex-col items-center justify-center text-center bg-hunter_green-100 rounded-3xl p-8">
						<h2 class="font-black text-[12vw] md:text-[7vw] text-center">Designer</h2>
						<ul class="flex md:flex-row flex-col w-11/12 justify-between text-[6vw] md:text-[3vw] font-semibold ">
							<li>Service</li>
							<li>UX</li>
							<li>Industrial</li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class=" mt-5 p-5 text-base bg-cambridge_blue rounded-3xl text-center text-hunter_green-100 font-medium w-full">
				<p>Explorando la interacción entre la tecnología y las personas</p>

			</div>

		</section>
	
		<section id="acerca-de-mi" class="container mx-auto  grid grid-col-1 md:grid-cols-2 gap-x-5 gap-y-5 py-8 w-full">
			
			
			<div class=" p-7 bg-hunter_green-100 rounded-3xl">
				<h2 class=" font-black text-2xl">Acerca de mí</h2>
				<p class=" font-normal text-base">Soy un diseñador con más de 3 años de experiencia, donde mi enfoque apasionado busca crear productos e experiencias que despierten asombro. Mi trayectoria incluye proyectos diversos, desde diseño de productos físicos hasta experiencias digitales. Actualmente, como diseñador de servicios, innovo para mejorar procesos internos y ofrecer una experiencia excepcional a los clientes.</p>
			</div>
			<div class="flex flex-col gap-y-5">
				<div class="h-full ">
					<p class="flex items-center justify-center h-full p-7 text-base font-medium italic bg-eerie_black rounded-3xl">La curiosidad es mi brújula en el diseño. Explora mi perspectiva en artículos detallados en mi Medium</p>
				</div>
				<button class="w-full p-7 bg-cambridge_green rounded-3xl flex items-center justify-center">
					<img class="w-4/5" src="/medium.svg" alt="Medium logo">
				</button>
				

			</div>
		</section>

		<section id="portafolio" class="mx-auto  grid grid-col-1 md:grid-cols-2 gap-x-5 gap-y-5 py-8 w-full h-min">
			<div>
				<a href="https://www.behance.net/gallery/129126529/Dog-Road-UX-UI" target="_blank" class="project w-full h-72 p-7 flex flex-col justify-end rounded-3xl" style="background-image: url('https://mir-s3-cdn-cf.behance.net/projects/808/e1445e129126529.Y3JvcCw4MjUsNjQ2LDU0Nyww.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
					<h3 class="font-black text-2xl text-white">Proyecto: </h3>
					<p class="mt-2 text-white bg-black bg-opacity-50">PetBistro Box - Diseño UX/UI</p>
				</a>
			</div>
			<div>
				<a href="https://www.behance.net/gallery/187557913/PetBistro-Box-Diseno-UXUI" target="_blank" class="project mb-4 w-full  h-72 p-7 flex flex-col justify-end rounded-3xl" style="background-image: url('https://mir-s3-cdn-cf.behance.net/projects/808/33cff6187557913.Y3JvcCw4MDgsNjMyLDYsMA.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">
					<h3 class="font-black text-2xl text-white">Proyecto: </h3>
					<p class="mt-2 text-white bg-black bg-opacity-50">PetBistro Box - Diseño UX/UI</p>
				</a>
			</div>	

			<div class=" p-7 bg-celadon-900 rounded-3xl text-eerie_black h-min">
				<h2 class=" font-black text-2xl mb-1">Experiencia laboral</h2>
				<div class="mb-3">
					<h3 class=" font-medium text-2xl">Service designer - CasaToro</h3>
					<p class=" font-normal text-base">2023- Actualidad</p>
					<ul class="list-disc pl-4">
						<li>Especialización en procesos innovadores para productos digitales.</li>
						<li>Diseño de Minimum Viable Services (M.V.S) para optimizar operaciones.</li>
						<li>Integración de metodología de diseño y filosofía LEAN para impulsar la innovación del servicio</li>
							</ul>
				</div>
				<div class="mb-3">
					<h3 class=" font-medium text-2xl">UX Designer - CasaToro</h3>
					<p class=" font-normal text-base">2021 — 2023</p>
					<ul class="list-disc pl-4">
						<li>Liderazgo en la creación de un nuevo producto digital en el sector automotriz.</li>
						<li>Investigación exhaustiva de UX para abordar los puntos débiles del usuario.</li>
						<li>Desarrollo de wireframes detallados para evaluar soluciones con usuarios y clientes.</li>
					</ul>
				</div>
				<div class="mb-3">
					<h3 class=" font-medium text-2xl">Industrial Designer - Master Taquería</h3>
					<p class=" font-normal text-base">2021</p>
					<ul class="list-disc pl-4">
					<li>Contribución clave a un proyecto de diseño de espacio comercial.</li>
						<li>Diseño de mobiliario innovador y funcional para mejorar la estética y la funcionalidad.</li>
						<li>Colaboración en el diseño general del servicio y la experiencia del usuario.</li>
					</ul>
				</div>
			</div>
		
			<div>
				<div class=" mb-4 p-7 bg-celadon h-min rounded-3xl text-eerie_black">
					<h2 class=" font-black text-2xl mb-1">Historial Académico:</h2>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Diseño Industrial</h3>
						<p class=" font-normal text-base">2015-2020</p>
						<p class=" font-normal text-base">Universidad Nacional de Colombia.</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Especialización en Diseño y Gerencia de Producto para la Exportación</h3>
						<p class=" font-normal text-base">2020-2021</p>
						<p class=" font-normal text-base">Pontificia Universidad Javeriana.</p>
					</div>
					
				</div>
				<div class=" mb-4 p-7 bg-hunter_green-100 h-min rounded-3xl text-cambridge_green">
					<h2 class=" font-black text-2xl mb-1"> Cursos:</h2>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Creando futuros en el territorio digital: Desarrollo de productos y servicios desde UX</h3>
						<p class=" font-normal text-base">Universidad Nacional de Colombia.</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Habilidades de programación con profundización en desarrollo de aplicaciones móviles</h3>
						<p class=" font-normal text-base">Universidad Nacional de Colombia.</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Diseño UI</h3>
						<p class=" font-normal text-base">Coderhouse</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">React Js</h3>
						<p class=" font-normal text-base">Coderhouse</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Curso de Diseño de servicios</h3>
						<p class=" font-normal text-base">Platzi</p>
					</div>
					<div class="mb-3">
						<h3 class=" font-medium text-2xl">Responsive Web Design</h3>
						<p class=" font-normal text-base">FreeCodeCamp</p>
					</div>
					
				</div>
			</div>
			<section id="contacto" class="mt-0 md:mt-[-300px]">
				<div class="flex-col w-full">
					<div class="my-1 p-7 bg-eerie_black h-min rounded-3xl text-celadon-900" id="hora">
					<h3 class="font-regular text-2xl">¡En este momento, en Bogotá, Colombia, son las:</h3>
					<p class="font-black text-5xl py-4"> {currentTime} <span class="font-light">{period}</span></p>
					<p class="font-regular text-base">{greeting}</p>
					</div>
					<div class="p-7 bg-celadon-900 flex-col w-full rounded-3xl">
					<h3 class="my-4 text-hunter_green-100 font-black text-2xl">¿Preguntas, ideas o proyectos emocionantes?</h3>
					<button class="p-5 bg-cambridge_green rounded-3xl w-full">
						<a href="">¡Envíame un mensaje y hagamos magia juntos</a>
					</button>
					</div>
				</div>
			</section>

		</section>
		
		<footer class=" p-7">
			<h3 class=" font-black text-2xl flex-col py-8"> Diseño, creatividad y desarrollo en perfecta armonía.</h3>
			<p>Hecho con ❤️ y código por <a href="https://twitter.com/sebtiago" class="hover:underline">@Sebtiago</a> </p>
			<p>Made this website in <a href="https://astro.build/" class="hover:underline">Astro</a> 🚀, deployed on <a href="https://vercel.com/" class="hover:underline"> Vercel</a>.</p>
			<div class="flex md:flex-row justify-between w-full flex-col py-8">
				<p>© 2024 Sebastián Suárez - Todos los derechos reservados</p>
				<div class="social-links flex flex-row space-x-8 ">
					<a href="https://www.linkedin.com/in/sebastianssuarez/" target="_blank" class="hover:underline">LinkedIn</a>
					<a href="https://github.com/Sebtiago" target="_blank" class="hover:underline">GitHub</a>
					<a href="https://www.behance.net/sebtiago" target="_blank" class="hover:underline">Behance</a>
					<a href="https://medium.com/@sebtiagosuarez" target="_blank" class="hover:underline">Medium</a>
					<a href="https://www.instagram.com/sebtiagosf/" target="_blank" class="hover:underline">Instagram</a>
					<a href="https://twitter.com/sebtiago" target="_blank" class="hover:underline">twitter</a>
				</div>
			</div>
		</footer>
		<div class=" md:bg-celadon-100"></div>
	</body>
</html>

<style>
	body{
		font-family: 'Rubik Variable', sans-serif;
		padding: 0;
		margin: 0;
	}


</style>